* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-main);
  color: var(--text-white);
  transition: background-color 0.3s ease;
}

h1, h2, h3 {
  font-family: var(--font-header);
  font-weight: 400;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

