/*default dark theme*/
:root {
  --bg-color: #263D5C;
  --primary-purple: #6B3B9D;
  --accent-light: #D9D9E9;
  --text-white: #ffffff;
  --text-dark: #324B6B;
  --nav-text: #e6d8f5;
  --graph-bar: #e6e6f5;
  --graph-label: #eaeaf5;
  --shadow-purple: rgba(107, 59, 157, 0.3);

/*light theme*/
body.lightTheme {
  --bg-color: #f8f7fd;
  --accent-light: #f1e4fc;
  --primary-purple: #a57adb;
  --text-white: #203661;
  --text-dark: #000d1fbd;
  --nav-text: #fefefe;
  --graph-bar: #b1c8e6;
  --graph-label: #273345;
  --shadow-purple: rgba(165, 122, 219, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

body {
  background-color: var(--bg-color);
}

header nav.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}


header nav.headerContainer a, header nav.headerContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33vw; 
    height: 3rem;   
    color: var(--nav-text);
    background-color: var(--primary-purple);
    border-radius: 0 0 50% 50%;
    border: none;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.8rem;
    text-decoration: none; 
}

header nav.headerContainer button {
    border: none;
    cursor: pointer;
}

/* makes label so screen can read it but hidden visually */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


a:hover{
    cursor: pointer;
}


/*trackers menu */
.trackersMenu {
    display: none;
    position: absolute;
    width: 33.33vw;
    background-color: var(--primary-purple);
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
    border-radius: 2rem;
}

.trackersMenu.open {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.trackersMenu a {
    width: 90%;
    padding: 0.6rem 1rem;
    background-color: var(--accent-light);
    color: var(--text-dark);
    border: none;
    border-radius: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 0.7rem;
}

.trackersMenu li {
    width: 90%;
    padding: 0.6rem 1rem;
    background-color: var(--accent-light);
    color: var(--text-dark);
    border: none;
    border-radius: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 0.7rem;
}

/* trackers button when menu is not open */
#trackersToggle {
    background-color: var(--primary-purple);
    color: var(--accent-light);
    width: 33.33vw;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.8rem;
    border-radius: 0 0 50% 50%;
    border: none;
    cursor: pointer;
}

/* trackers button When menu is open */
#trackersToggle.active {
    border-radius: 0%;
    background-color: var(--primary-purple);
    overflow: hidden;
}


.timerHeaderContainer {
    padding-top: 2rem;
    color: white; 
    text-align: center;
    overflow-wrap: break-word;
    font-size: 0.7rem;
}

.timerHeaderContainer {
  padding-top: 2rem;
  color: var(--text-white);
  text-align: center;
}

.timerHeaderContainer h1 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

/*Pomodoro timer*/
.pomodoroTimerContainer {
  background-color: var(--accent-light);
  width: 18rem;
  height: 11rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoroTimerContainer .timeDisplay {
  text-align: center;
  font-size: 4rem;
  font-weight: 450;
  color: var(--text-dark);
}

/*play pause stop buttons*/
.mainControls {
  display: flex;
  gap: 2rem;
  color: var(--primary-purple);
  justify-content: space-evenly;
}

.mainControls button {
    background: none;
    border: none;
    color: var(--primary-purple);
    cursor: pointer;
    font-size: 2.5rem;
}

/*Training timer*/
.trainingTimerContainer {
  background-color: var(--accent-light);
  width: 18rem;
  height: 14rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainingTimerContainer .timeDisplay {
  text-align: center;
  font-size: 4rem;
  font-weight: 450;
  color: var(--text-dark);
}

.trainingTimerContainer .trainingControls {
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.trainingTimerContainer .trainingControls button {
  background: none;
  border: none;
  width: 4.5rem;
  height: 2.1rem;
  background-color: var(--primary-purple);
  color: var(--accent-light);
  border-radius: 1rem;
  cursor: pointer;
}

/*Training logs*/
.trainingLogsContainer {
  width: 90vw;
  margin: auto;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.trainingLogsContainer h3 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  color: var(--text-white);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.logsDisplayContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.setDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setNumber {
  background-color: var(--accent-light);
  width: 90px;
  height: 50px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-dark);
}

.setText {
  margin: 0;
  font-size: 1rem;
  color: var(--text-white);
  text-align: center;
  font-weight: 400;
}

.exerciseDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exerciseNumber {
  background-color: var(--accent-light);
  width: 90px;
  height: 50px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-dark);
}

.exerciseText {
  margin: 0;
  font-size: 1rem;
  color: var(--text-white);
  text-align: center;
  font-weight: 400;
}

/* work timer*/
.workTimerContainer {
  background-color: var(--accent-light);
  width: 18rem;
  height: 11rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workTimerContainer .timeDisplay {
  text-align: center;
  font-size: 4rem;
  font-weight: 450;
  color: var(--text-dark);
}

/* stats area */
.statsDisplayContainer {
  width: 90vw;
  margin: auto;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.statsContainer h2 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  color: var(--text-white);
  text-align: center;
  margin-top: 1rem;
}

.statsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  background-color: var(--accent-light);
  width: 70px;
  height: 50px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-dark);
}

.statText {
  margin: 0;
  font-size: 0.65rem;
  color: var(--text-white);
  text-align: center;
  font-weight: 400;
}

/*add extra time area*/
.extraTimeContainer {
  width: 18rem;
  margin: 2rem auto;
  padding: 0.2rem;
  border-radius: 0.5rem;
  color: var(--accent-light);
  background-color: var(--primary-purple);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.extraTimeContainer p {
  align-items: left;
}

#extraTimeInput {
    height: 2rem;
    background-color: var(--bg-color);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-left: 0.5rem;
    color:white;
    padding-left: 0.6rem;
}

.extraTimeContainer ::placeholder {
  color: var(--text-white);
  text-align: center;
}

.extraTimeContainer button {
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    color: var(--accent-light);
}

/*Overview area*/
.overviewHeaderContainer {
  padding-top: 2rem;
  color: var(--text-white);
  text-align: center;
}

.overviewHeaderContainer h1 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

.overviewHeaderContainer button {
  background: none;
  border: none;
  width: 5rem;
  height: 2rem;
  background-color: var(--primary-purple);
  color: var(--accent-light);
  border-radius: 0.5rem;
  cursor: pointer;
}

/*HISTORY AREA*/
.historyContainer {
    width: 90vw;
    max-width: 18rem;
    margin: 1rem auto;
    padding-right: 0.3rem;
}

.historyList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.historyItem {
  background-color: var(--accent-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  color: var(--text-dark);
}

.historyInfo {
  display: flex;
  flex-direction: column;
}

.historyCategory {
  font-weight: 800;
  font-size: 1rem;
  color: var(--primary-purple);
  letter-spacing: 0.05rem;
}

.historyDate {
  font-size: 1rem;
  opacity: 0.8;
}

.historyDuration {
  font-size: 1.1rem;
  font-weight: 700;
}

/*GRAPH AREA */
.graphContainer {
  width: 15rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-white);
  font-weight: 700;
}

.graphBarBackground {
  background-color: var(--accent-light);
  height: 2rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.graphItem {
  background-color: var(--accent-light);
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0.8rem 1.2rem;
  border-radius: 1rem; 
  color: var(--text-dark); 
  position: relative;
  min-height: 80px;
}

.graphInfo {
  display: flex; 
  flex-direction: column; 
  position: relative; 
  top: -10px; 
}

.graphCategory {
  font-weight: 800; 
  font-size: 1rem; 
  color: var(--primary-purple); 
  letter-spacing: 0.05rem;
  margin: 0; 
}

.graphDuration {
  font-size: 1.1rem;
  font-weight: 700;
  position: relative; 
  top: -10px; 
}

.fill-bar {
  position: absolute;
  left: 5%;
  height: 25%;
  top: 55%;
  background: var(--primary-purple);
  border-radius: 1rem 0 0 1rem;
}

.shadow-bar {
  position: absolute;
  height: 25%; 
  top: 55%;
  background: var(--shadow-purple);
  border-radius: 0 1rem 1rem 0;
}

.activityList {
  width: 100%;
  max-width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.activity {
  position: relative;
}

.valueBar {
  height: 2rem;
  width: 50%;
  background: var(--graph-bar);
  border-radius: 0.5rem;
}

.overviewSelectors {
  padding-top: 1rem;
  color: var(--text-white);
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.overviewSelectors button {
  background: none;
  border: none;
  width: 7rem;
  height: 2.5rem;
  background-color: var(--primary-purple);
  color: var(--accent-light);
  border-radius: 0.5rem;
  cursor: pointer;
}

/*SETTINGS PAGE*/
.settingsHeaderContainer {
  padding-top: 2rem;
  color: var(--text-white);
  text-align: center;
}

.settingsHeaderContainer h1 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

.settingsChoices {
  width: 90vw;
  max-width: 18rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding-right: 0.3rem;
}

.settingsChoices button {
  background: none;
  border: none;
  width: 9rem;
  height: 3rem;
  background-color: var(--primary-purple);
  color: var(--accent-light);
  border-radius: 0.5rem;
  cursor: pointer;
}
}