*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}


header .headerContainer button {
    width: 33.33vw; 
    height: 3.5rem;
    color:#aca3ea;
    background-color:#0a0235;
    border-radius: 0 0 50% 50%;
    border: none;
    font-size: 1.25rem;
    text-shadow: 2px 2px 2px black;
}

button:hover{
    cursor: pointer;
}

.timerContainer{
    background-color: #aca3ea;
    border: 7px solid #0a0235;
    width: 90vw;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 50px black;
    display: flex;
}
.timerContainer h1{
    text-align: center;
    font-size: 2rem;
    color: #aca3ea;
    background-color: #0a0235;
    padding: 4px;
    width: 150px;
    border-radius: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.timerContainer p{
    text-align: center;
    font-size: 1rem;
}
.timerContainer button{
    width: 100px;
    background-color: #0a0235;
    color: #aca3ea;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    border: none;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}
