*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Bricolage Grotesque', sans-serif;
}

body {
  background-color: #263D5C;  
}

header nav.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}


header nav.headerContainer a {
    width: 33.33vw; 
    height: 3rem;   
    color:#e6d8f5;
    background-color:#6B3B9D;
    border-radius: 0 0 50% 50%;
    border: none;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.8rem;
    text-decoration: none; 
}

a:hover{
    cursor: pointer;
}


/*Det här gömmer menyn som öppnas när man klickar på TRACKERS, jag fixar det senare. -Hande */
.trackersMenu {
    display: none;
}

.timerHeaderContainer {
    padding-top: 2rem;
    color: white; 
    text-align: center;
}

.timerHeaderContainer h1 {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    margin-bottom: 2rem;
}

/*Pomodoro timer*/
.pomodoroTimerContainer{
    background-color: #D9D9E9;
    width: 18rem;
    height: 11rem;
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pomodoroTimerContainer .timeDisplay{
    text-align: center;
    font-size: 4rem;
    font-weight:450;
    color: #324B6B;
}

/*play pause stop buttons*/

.mainControls {
    display: flex;
    gap: 2rem;
    color: #6B3B9D;
    justify-content: space-evenly;
}

.mainControls button {
    background: none;
    border: none;
    color: #6B3B9D;
    cursor: pointer;
}


#playBtn { 
    font-size: 2.5rem; 
}

#pauseBtn { 
    font-size: 2.2rem; 
    letter-spacing: -3px;
    padding-right: 0.3rem; 
}

#stopBtn { 
    font-size: 3.3rem;
    padding-bottom: 0.5rem; 
}

/*Training timer*/

.trainingTimerContainer{
    background-color: #D9D9E9;
    width: 18rem;
    height: 14rem;
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainingTimerContainer .timeDisplay{
    text-align: center;
    font-size: 4rem;
    font-weight:450;
    color: #324B6B;
}

.trainingTimerContainer .trainingControls {
    gap: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.trainingTimerContainer .trainingControls button {
    background: none;
    border: none;
    width: 4.5rem;
    height: 2.1rem;
    background-color: #6B3B9D;
    color:#D9D9E9;
    border-radius: 1rem;
    cursor: pointer;
}

/*Training logs*/


.trainingLogsContainer {
    width: 90vw;
    margin: auto;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.trainingLogsContainer h2 {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.1rem;    
}

.logsDisplayContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 1rem;
}

.setDisplay {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.setNumber {
    background-color: #D9D9E9;
    width: 90px;
    height: 50px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0 0 0.2rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #324B6B;
}

.setText {
    margin: 0;
    font-size: 0.65rem;
    color: #ffffff;
    text-align:center;
    font-weight: 400;
}

.exerciseDisplay {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.exerciseNumber {
    background-color: #D9D9E9;
    width: 90px;
    height: 50px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0 0 0.2rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #324B6B;
}

.exerciseText {
    margin: 0;
    font-size: 0.65rem;
    color: #ffffff;
    text-align:center;
    font-weight: 400;
}

/* work timer*/

.workTimerContainer{
    background-color: #D9D9E9;
    width: 18rem;
    height: 11rem;
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workTimerContainer .timeDisplay{
    text-align: center;
    font-size: 4rem;
    font-weight:450;
    color: #324B6B;
}


/* stats area */
.statsDisplayContainer {
    width: 90vw;
    margin: auto;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.statsContainer h3 {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
    
}

.statsDisplay {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.statNumber {
    background-color: #D9D9E9;
    width: 70px;
    height: 50px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0 0 0.2rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #324B6B;
}

.statText {
    margin: 0;
    font-size: 0.65rem;
    color: #ffffff;
    text-align:center;
    font-weight: 400;
}

/*add extra time area*/

.extraTimeContainer {
    width: 18rem;
    margin: 2rem auto;
    padding: 0.2rem;
    border-radius: 0.5rem;
    color: #D9D9E9;
    background-color: #6B3B9D;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.extraTimeContainer p {
    align-items: left;
}

#extraTimeInput {
    height: 2rem;;
    background-color:#263D5C;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-left: 0.5rem;
    
}

.extraTimeContainer ::placeholder {
    color:#ffffff;
    text-align: center;
}